*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Sans 3", sans-serif;
    line-height: 1.25;
    color: #090909;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}